html {
  width: 100vw;
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: grid;
  grid-template-areas: "header" "footer";
  grid-template-rows: 70% 30%;
}

header {
  width: 100%;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
}

.sky {
  background-color: rgb(41, 68, 223);
}

.sky:hover {
  outline: white;
  border: 1px solid black;
}

footer {
  grid-area: footer;
}
