html {
  width: 100vw;
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: grid;
  grid-template-areas: "header" "footer";
  grid-template-rows: 75% 25%;
}

header {
  width: 100%;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
}

.sky {
  background-color: rgb(37, 189, 194);
}

.brown {
  background-image: url("../img/soil.png");
}

.earth {
  background-image: url("../img/download.jpg");
}

.tree {
  background-image: url("../img/tree.png");
}

.grass {
  background-image: url("../img/grass.png");
}

.leaves {
  background-image: url("../img/leaves.png");
}

.sky:hover,
.brown:hover,
.earth:hover,
.tree:hover,
.leaves:hover,
.grass:hover {
  outline: white;
  border: 1px solid black;
}

footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#sword img {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: gray;
  padding: 3px 3px;
}
#pickaxc img {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: gray;
  padding: 3px 3px;
}
#shovel img {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: gray;
  padding: 3px 3px;
}
#axe img {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: gray;
  padding: 3px 3px;
}
#box img {
  height: 200px;
  width: 250px;
}

#tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.reset-btn {
  height: 100px;
  width: 200px;
  border-radius: 25px;
  border: 2px solid black;
  background-color: brown;
  color: white;
}
.reset-btn a {
  text-decoration: none;
}

.reset-btn h2 {
  color: white;
}

.inventory {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: gray;
  display: none;
  margin-bottom: 50%;
  margin-right: 30%;
  gap: 10px;
}
/* 
.element {
  content: attr(count);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  top: -15px;
  right: -15px;
  z-index: 1;
} */

.store {
  display: none;
  flex-wrap: wrap;
  overflow: hidden;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: gray;
  margin-bottom: 1300px;
  margin-left: 550px;
  gap: 10px;
}

.store button {
  padding-top: 30px;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

/* .divStore {
  height: 10px;
  width: 20px;
  margin-bottom: 10px;
} */

.amount {
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount h2 {
  color: white;
}
